/******************************************************************
Stylesheet: Variables Stylesheet
******************************************************************/

// // font imports 
// @font-face {
//    font-family: 'jaapokki enchance';
//    src: url('./assets/fonts/jaapokkienchance-regular.eot'); /* IE9 Compat Modes */
//    src: 
//         url('./assets/fonts/jaapokkienchance-regular.woff') format('woff'), /* Pretty Modern Browsers */
//         url('./assets/fonts/jaapokkienchance-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
//         url('./assets/fonts/jaapokkienchance-regular.svg') format('svg'); /* Legacy iOS */
//  }

 
 // font declarations
//  $font1: 'jaapokki enchance', sans-serif;
 
 // Color Variables
 $white: #fff;
 $black: #1b1b1b;
 $yellow: #ffd600;
 $grey: #5a5a5a;

 $purple: #2e46ae;
 