/* Imports */
@import './_normalize.scss';
@import './_variables.scss';
@import './_SideBar.scss';

body {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background:$white;
}
a {
	text-decoration: none;
	outline: 0;
}
img {
	width: 100%;
	max-width: 100%;
}
.page-container {
   display: flex;
   min-height: 100vh;
}
.main-content {
   margin-left: 280px;
   padding: 45px;
}
@media only screen and (max-width: 1200px) {
   .main-content {
      margin-left: 80px;
      padding: 30px;
   }
}